body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: #f5ff8a;
  padding: 10px;
}

#btt-abrir {
  color: #758071;
  font-size: 25px;
}

#btt-voltar {
  color: #758071;
  font-size: 25px;
  float: right;
}

#btt-fechar {
  color: #758071;
  font-size: 25px;
}

nav {
  height: 100%;
  width: 0px;
  background-color: #f5ff8a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  transition: width 0.3s;
}

nav a {
  list-style-type: none;
  padding: 12px 10px 12px 32px;
  color: 758071;
  font-size: 12px;
  display: block;
}

nav a:hover {
  color: black;
  background-color: #f5ff8a;
}

nav ul li {
  list-style-type: none;
}

main {
  padding-left: 250px;
  padding-right: 250px;

  transition: margin-left 0.5s;
}
