@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@300;400;900&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: rgb(64, 108, 194);
  background: linear-gradient(
    90deg,
    rgba(64, 108, 194, 1) 0%,
    rgba(65, 128, 171, 1) 40%,
    rgba(61, 184, 167, 1) 85%
  );
}
main {
  background-color: #edebce;
  border: 1px solid black;
  border-radius: 5px;
  padding: 50px 20px 50px 20px;
}
#message {
  padding: 50px 50px;
}

#title {
  font-size: 32px;
}

p {
  font-size: 24px;
}

button {
  margin-left: 15%;
  background-color: #1a435e;
  border-radius: 5px;
  border: none;
  display: inline-block;
  cursor: pointer;
  color: #ffff;
  font-size: 14px;
  padding: 10px 20px;
  text-decoration: none;
}
