* {
  margin: 0;
  padding: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  background: #6C7A89;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.config {
  width: 400px;
  height: 400px;
  background-color: #fff;
}