@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  padding: 0;
  margin: 0;
}

#meio {
  background-image: url("../frames/background-pc.png");
  background-repeat: repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  margin-right: 90px;
}

#options-main {
  display: flex;
  flex-direction: column;
}

#options-main a {
  padding: 5px;
}

#options-main a button {
  height: 50px;
  width: 200px;
}

.myButton {
  background-color: #37ab98;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #000000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #2f9181;
}
.myButton:active {
  position: relative;
  top: 1px;
}
