body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  background-color: rgb(4, 54, 54);
  padding: 10px;
}

#btt-abrir {
  color: white;
  font-size: 25px;
}

#btt-voltar {
  color: white;
  font-size: 25px;
  float: right;
}

nav {
  height: 100%;
  width: 0px;
  background-color: rgb(4, 54, 54);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  transition: width 0.3s;
}

nav a {
  list-style-type: none;
  padding: 12px 10px 12px 32px;
  color: white;
  font-size: 25px;
  display: block;

}

nav a:hover {
  color: rgb(4, 54, 54);
  background-color: white;
}

nav ul li {
  list-style-type: none;
}

main {
  padding: 10px;
  transition: margin-left 0.5s;
}